{% extends 'layout.twig' %}

{% block content %}
    
    <main class="container mt-5 mb-5">
        <!-- <h3 class="text-center text-uppercase mb-3 text-primary">CẢM NHẬN VỀ BÀI HÁT</h3> -->
        <div class="row">
            <div class="col-sm">
                <h1>Danh sách bài viết</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Mã bài viết</th>
                            <th>Tiêu đề</th>
                            <th>Tác giả</th>
                            <th>Ngày viết</th>
                            <th>Sửa</th>
                            <th>Xóa</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for baiviet in baiviets %}
                            <tr>
                                <td>{{ baiviet.ma_bviet }}</td>
                                <td>{{ baiviet.tieude }}</td>
                                <td>{{ baiviet.ma_tgia }}</td>
                                <td>{{ baiviet.ngayviet }}</td>
                                <td><a href="index.php?action=edit&id={{ baiviet.ma_bviet }}">Sửa</a> <a href="index.php?action=delete&id={{ baiviet.ma_bviet }}" onclick="return confirm('Are you sure?')">Xóa</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
        </div>
    </main>
{% endblock %}
