{% extends 'layout.twig' %}

{% block content %}
    <h2>User List</h2>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="index.php?action=edit&id={{ user.id }}">Edit</a>
                    <a href="index.php?action=delete&id={{ user.id }}" onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
